
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.home h1{
  font-weight: 900;
	font-size: 3rem;
	width: 200px;
	display: flex;
	align-items: center;
	flex-direction: column;
	letter-spacing: .6rem;
}

.home .upperBorder,
.home .lowerBorder{
  content: '';
	display: block;
	height: 3px;
	width: 100%;
	background: var(--text-color);
}

.home .upperBorder{
  margin-bottom: .3rem;
}

.home .lowerBorder{
  margin-top: .3rem;
}

.Vrow{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 5rem;
  margin-top: 4rem;
}

.Vrow .vid{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 350px;
  height: 400px;
  border: .2rem solid var(--main-color);
  border-radius: 5px;
  /* position: relative; */
}


@media (max-width: 1118px){
  .Vrow .vid{
    width: 330px;
  }
}

@media (max-width: 1047px){
  .Vrow .vid{
    width: 310px;
  }
}

@media (max-width: 986px){
  .Vrow{
    grid-template-columns: repeat(2, 1fr);
  }

  .Vrow .vid{
    width: 350px;
  }
}

@media (max-width: 735px){
  .Vrow .vid{
    width: 320px;
  }
}

@media (max-width: 680px){
  .Vrow{
    grid-template-columns: repeat(1, 1fr);
  }

  .Vrow .vid{
    width: 350px;
  }
}

@media (max-width: 361px){
  .Vrow .vid{
    width: 320px;
  }
}

@media (max-width: 340px){
  .Vrow .vid{
    width: 300px;
  }
}